albumentations==0.4.5
efficientnet-pytorch==0.6.3
h5py==2.8.0
imageio==2.3.0
numpy==1.18.4
opencv-python==4.1.1.26
pandas==0.24.2
Pillow==6.2.2
scikit-learn==0.19.1
scipy==1.4.1
torch==1.4.0
torchvision==0.5.0
tqdm==4.42.1
